@using songreviews.Models
@model Song;




<div class="container my-4">
     <form asp-action="Create" method="post">
      <!-- Grid row -->
      <div class="form-row">
        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form form-group">
            <span class="text-danger" asp-validation-for="Title"></span>
            <input type="text" class="form-control" asp-for="Title" placeholder="Song Title">
            <label asp-for="Title">Title</label>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form form-group">
              <span class="text-danger" asp-validation-for="Genre"></span>
            <input type="text" class="form-control" asp-for="Genre" placeholder="Genre">
            <label asp-for="Genre">Genre</label>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="form-row">
        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form form-group">
              <span class="text-danger" asp-validation-for="Artist"></span>
            <input type="text" class="form-control" asp-for="Artist" placeholder="Artist">
            <label asp-for="Artist">Artist</label>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form form-group">
            <select type="number" asp-for="Stars" class="form-control">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>

            </select>
            <label asp-for="Stars">Stars</label>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="form-row">
        <!-- Grid column -->
        <div class="col-md-12">
          <!-- Material input -->
          <div class="md-form form-group">
            <input type="text" class="form-control" asp-for="Review" placeholder="Review">
            <label asp-for="Review">Review</label>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
      </div>
      <div class="text-center">
          <input type="submit" class="btn btn-danger btn-md"value="Post Review">
      </div>
      <!-- Grid row -->
      
    </form>
    <!-- Extended material form grid -->

  </div>